<div class="list">
	<section>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 1</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 2</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 3</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 4</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 5</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 6</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 7</h4>
		</article>
		<article><img src="https://picsum.photos/600/200" alt="image" width="95%">
			<h4>Article 8</h4>
		</article>
	</section>
</div>